@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important; 
    background: #ece6d9 !important;
}

.bacilus-list {
    max-width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 15px;
    border: solid red;
}

.bacilus-list-item {
    flex: 0 1 24%;
}